.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alignContainer{
    width: 90%;
    margin: auto;
}
.feedbackHeading{
    color:brown;
}

.feedbackMsg{
    margin-left : 20px;
    color : red
}